.audio {


    &__audio-file {
        position: relative;
        background-color: $beigeAccent1;
        margin: 1.875rem 0 1.875rem 0;
        border: 1px solid $beigeAccent2;
        border-radius: 3px 0px 0px 3px;
        @mixin clearfix;
        overflow: hidden;
        height: 84px;

        @mixin atMedium {
            height: 43px;
        }

        img {
            float: left;
        }

    }

    &__control {
        display: none;
    }

    &__control--active {
        display: block;
    }

    &__control--play {
        position: absolute;
    }
    
    &__control--pause {
        position: absolute;
    }

    &__control--replay {
        position: absolute;
        left: 70px;

        @mixin atMedium {
            left: 7%;
        }
    }

    &__control--replay--active {
        animation-name: replay;
        animation-duration: .4s;
    }

    @keyframes replay {
        0%   {transform: rotate(0deg)}
        50%  {transform: rotate(-30deg)}
        100% {transform: rotate(0deg)}
    }

    &__control--forward {
        position: absolute;
        left: 120px;

        @mixin atMedium {
            left: 12%;
        }
    }

    &__control--forward--active {
        animation-name: forward;
        animation-duration: .4s;
    }

    @keyframes forward {
        0%   {transform: rotate(0deg)}
        50%  {transform: rotate(30deg)}
        100% {transform: rotate(0deg)}
    }

    &__time {
        position: absolute;
        right: 10px;
        top: 20%;
        transform: translateY(-20%);
        color: $mainBlack;
        font-size: .8rem;
        font-weight: 400;

        @mixin atMedium {
            top: 50%;
            transform: translateY(-50%);
            left: 20%;
        }

        @mixin atLarge {
            left: 22%;
        }
    }

    &__content {
        position: relative;
        top: 50%;
        z-index: 1;
        @mixin atMedium {
            top: 0;
            width: 94.5%;
            float: right; 
            transition: width .5s ease-out;  
        }
        @mixin atLarge {
            width: 95.5%;
        }
        
        
    }
    
    &__content--active {
        position: relative;
        top: 50%;
        z-index: 1;
        @mixin atMedium {
            top: 0;
            width: 70%;
            float: right; 
            transition: width .5s ease-out;  
        }
        
    }

    &__title {
        position: absolute;
        color: $mainBlack;
        width: max-content;
        height: 100%;
        margin: 0;
        top: 50%;
        left: 10px;
        line-height: 43px;
        cursor: default;
        z-index: 1;
        
        @mixin atMedium {
            left: unset;
            top: unset;
            right: 10px;
            text-align: right;
            max-width: 74%;
        }                
    }

    &__title--move {
        animation: scroll-left 30s linear infinite;
        
        @mixin atMedium {
            animation: unset;
        }
        
        }

        /* Move it (define the animation) */
        @keyframes scroll-left {
            0%   {
            transform: translateX(0%); 		
            }
            100% { 
            transform: translateX(-110%); 
            }

    }



    &__music-canvas {
        position: absolute;
        top: 50%;
        background-color: $mainWhite;
        margin: 0;
        height: 41px;
        display: block;
        width: 100%;

        @mixin atMedium {
            border-left: 1px solid $beigeAccent2;
            position: relative;
            top: 0;
        }
    }
}