.biographie {

    &__short-content {
        display: flex;
        flex-flow: column;

        @mixin atMedium {
            flex-flow: row;
        }
        
        
    }

    &__grey-box {
        background-color: $mainGrey;
        padding: 2rem 1.875rem 1rem 1.875rem;
        color: $mainBlack;
        font-size: 1.1rem;
        font-weight: 350;
        text-align: left;
        order: 2;

        @mixin atMedium {
            flex-basis: 50%;
            order: 1;
        }

        p {
            margin-top: 0;
            margin-bottom: .625rem;
        }


        @mixin atMedium {
            font-size: 1.3rem;
            text-align: right;
        }
        
        @mixin atLarge {
            font-size: 1.5rem;
            padding-top: 4.75rem;
        }
    }

    &__image {
        order: 1;

        @mixin atMedium {
            flex-basis: 50%;
            order: 2;
        }

        img {
            object-fit: cover;
            min-height: 100%;
            min-width: 100%;
            display: block;
        }
    }

    &__further-content {
        padding-top: 0;
        padding-bottom: 0;
        padding-right: 1.875rem;
        padding-left: 1.875rem;
        margin-bottom: 2.8125rem;
        font-size: 1rem;
        font-weight: 350;
        color: $mainBlack;
        position: relative;
        max-height: 0;
        overflow: hidden;
        transition: padding-top .5s ease-out, padding-bottom .5s ease-out, max-height .5s ease-out;

        @mixin atMedium {
            font-size: 1.25rem;
        }
    }

    &__further-content--active {
        max-height: 0;
        height: auto;
        padding: 1.875rem;
        transition: padding-top .5s ease-out, padding-bottom .5s ease-out, max-height .5s ease-out;
        border: 1px solid $beigeAccent2;
    }



    &__link {
        font-size: 1rem;
        font-weight: 400;
        display: table;
        margin-top: 1.5rem;        

        @mixin atMedium {
            font-size: 1.1875rem;
            display: inline;
        }

        &:hover {
            font-weight: 500;
        }
    }

    &__link--further-content {
        &::after {
            content: "";
            background: url("assets/images/icons/arrow_right_alt-24px.svg") right no-repeat;
            padding-left: 30px;
        }
    }

    &__links-bottom {
        width: 100%;
        text-align: center;
        margin-top: 3rem;
    }

    &__link--copy-text {
        margin-right: 1rem;

        &::before {
            content: "";
            background: url("assets/images/icons/word.svg") right no-repeat;
            margin-right: 10px;
            padding: 34px;
            padding-left: 0;
            background-size: 34px;
        }
    }

    &__link--copy-text--copied {

        $check-height: 1.5em;
        $check-width: .8em;
        $check-thickness: 3px;
        $check-color: #5cb85c;

        margin-right: 1rem;

        &::after {
            animation-duration: 800ms;
            animation-timing-function: ease;
            animation-name: checkmark;
            transform: scaleX(-1) rotate(135deg);
            opacity: 1;
            height: $check-height;
            width: $check-width;
            transform-origin: left top;
            border-right: $check-thickness solid $check-color;
            border-top: $check-thickness solid $check-color;
            content: '';
            margin-top: 10px;
            margin-left: 14px;
            position: absolute;
        }
    }

    

    &__link--dl-pdf {
        &::before {
            content: "";
            background: url("assets/images/icons/pdf.svg") right no-repeat;
            margin-right: 10px;
            padding: 34px;
            padding-left: 0;
            background-size: 27px;

            @mixin atLarge {
                padding-left: 163px;
            }
        } 
    }

    &__link--close {
        cursor: pointer;
        position: absolute;
        bottom: 10px;
        right: 30px;

    }

}

@keyframes checkmark {
    0% {
      height: 0;
      width: 0;
      opacity: 1;
    }
    20% {
      height: 0;
      width: $check-width;
      opacity: 1;
    }
    40% {
      height: $check-height;
      width: $check-width;
      opacity: 1;
    }
    100% {
      height: $check-height;
      width: $check-width;
      opacity: 1;
    }
  }