.btn {

    width: fit-content;
    text-align: center;
    border: 1px solid $beigeAccent1;
    border-radius: 5px;
    padding: .6875rem 1.5rem;
    margin-top: 2rem;
    margin-bottom: 0;

    @mixin atMedium {
        margin-top: 3.75rem;
        margin-bottom: .19rem;
    }

    &--kontaktformular {
        /* background: transparent linear-gradient(180deg, #DCD0C0 0%, #C0B283 100%) 0% 0% no-repeat padding-box; */
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#dcd0c0+0,c0b283+100 */
        background: rgb(220,208,192); /* Old browsers */
        background: -moz-linear-gradient(top,  rgba(220,208,192,1) 0%, rgba(192,178,131,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  rgba(220,208,192,1) 0%,rgba(192,178,131,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  rgba(220,208,192,1) 0%,rgba(192,178,131,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dcd0c0', endColorstr='#c0b283',GradientType=0 ); /* IE6-9 */

        padding: .8rem 1.7rem;
        color: $mainBlack;
        font-size: .8rem;
        margin: 1rem;
        font-weight: 400;

        &:hover {
            /* background: transparent linear-gradient(180deg, #C0B283 0%, #DCD0C0 100%) 0% 0% no-repeat padding-box; */
            /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#c0b283+0,dcd0c0+100 */
            background: rgb(192,178,131); /* Old browsers */
            background: -moz-linear-gradient(top,  rgba(192,178,131,1) 0%, rgba(220,208,192,1) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top,  rgba(192,178,131,1) 0%,rgba(220,208,192,1) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom,  rgba(192,178,131,1) 0%,rgba(220,208,192,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c0b283', endColorstr='#dcd0c0',GradientType=0 ); /* IE6-9 */

        }

        @mixin atSmall {
            padding: 1rem 2rem;
            font-size: 1rem;
            margin: 1.875rem;
        }
        
        @mixin atMedium {
            padding: 1.4375rem 3.4375rem;
            font-size: 1.5rem;
            margin: 2.8215rem 1.875rem 1.875rem 1.875rem;
        }
    }

    &--timetable {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        width: 50%;
        /* background: transparent linear-gradient(180deg, #64AFD6 0%, #64AFD63D 100%) 0% 0% no-repeat padding-box; */
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#64afd6+0,64afd6+100&1+0,0.24+100 */
        background: -moz-linear-gradient(top,  rgba(100,175,214,1) 0%, rgba(100,175,214,0.24) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  rgba(100,175,214,1) 0%,rgba(100,175,214,0.24) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  rgba(100,175,214,1) 0%,rgba(100,175,214,0.24) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64afd6', endColorstr='#3d64afd6',GradientType=0 ); /* IE6-9 */


        a {
            color: $mainBlack;
            font-size: .875rem;
        }

        &:hover {
            /* background: transparent linear-gradient(180deg, #257CBF 0%, #64AFD63D 100%) 0% 0% no-repeat padding-box; */
            /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#257cbf+0,64afd6+100&1+0,0.24+100 */
            background: -moz-linear-gradient(top,  rgba(37,124,191,1) 0%, rgba(100,175,214,0.24) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top,  rgba(37,124,191,1) 0%,rgba(100,175,214,0.24) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom,  rgba(37,124,191,1) 0%,rgba(100,175,214,0.24) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#257cbf', endColorstr='#3d64afd6',GradientType=0 ); /* IE6-9 */

        }

        @mixin atMedium {
            width: unset;
        }
    }

    &--scroll-up {
        opacity: 0;
        position: fixed;
        right: 10px;
        bottom: -50px;
        padding: 0;
        background-color: rgba($mainGrey, .7);
        z-index: 5;
        transition: all .3s ease-out;
        margin: 0;
        cursor: pointer;

        & img {
            height: 35px;
        }
    }

    &--scroll-up--visible {
        opacity: 1;
        bottom: 10px;
        transition: all .3s ease-out;
    }   

}