.generic-content-container {

    p {
        font-weight: 300;
        margin: 1rem;

        @mixin atSmall {
            font-size: 1.125rem;
            margin: 1.875rem;
        }
    }

    p a {
        font-weight: 700;
    }
}