.parallax {
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("assets/images/parallax.jpg");

    @mixin atMedium {
        background-attachment: fixed;
        height: 50vh;
    }
}