body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: $mainBlack;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: $beigeAccent2;
}

* {
    box-sizing: border-box;
}
